body {
    background-color: black;
}

#link {
    color: #d82435;
    text-decoration:dotted;
}

h1 {
    color:white;
    font-family: 'Grenze Gotisch', 'Times New Roman', Times, serif;
    font-size: 72pt;
    font-weight:1000;
}

#decisions {
    font-weight:100;
}

p {
    font-family: monospace;
    font-size: 16pt;
    color:white;
}

#zombies {
    display:inline;
}

#zombies2 {
    display:inline;
}

