body {
    background-color: #3D1A1A;
}

h1 {
    font-family: 'Uncial Antiqua', Impact, sans-serif;
    font-size: 48pt;
    color:aliceblue;
  
}

p {
    font-family: monospace;
    font-size: 18pt;
    color:aliceblue;
}

#zombies {
    display:flex;
    justify-content:space-evenly;
}