body {
    background-color: black;
}

h1 {
    font-family: 'Grenze Gotisch', 'Times New Roman', Times, serif;
    font-size: 72pt;
    color:aliceblue;
    font-weight:black;
}

#decisions {
    font-weight:100;
}

p {
    font-family: monospace;
    font-size: 16pt;
    color:aliceblue;
}

#zombies {
    display:inline;
}